a.rd__link--faux-button {
  border-radius: 100px;
  padding: 10px;
  font-size: 18px;
  background-color: #000;
  transition: all 0.4s;
}
a.rd__link--faux-button:hover {
  background-color: #000;
  transform: scale(1.04);
}
a.rd__link--faux-button .rd__link__icon {
  height: 30px;
}
button.rd__button,
.rd__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 10px;
  text-align: center;
  width: 100%;
  font-weight: 500;
  border: 1px solid transparent;
  color: #fff;
  background: #000;
  font-size: 18px;
  transition: all 0.4s;

  &:hover {
    background-color: #000;
    cursor: pointer;
    transform: scale(1.04);
  }

  &__icon {
    margin-right: var(--str-video__spacing-xs);
    background-color: var(--str-video__text-color1);
  }

  &:disabled {
    background-color: var(--str-video__button-default-disabled);
    cursor: not-allowed;
  }

  &--align-left {
    text-align: left;
    justify-content: flex-start;
  }

  &--primary {
    background-color: #000;

    &:hover {
      background-color: #000;
      cursor: pointer;
    }

    &:disabled {
      background-color: var(--str-video__button-default-disabled);
      cursor: not-allowed;
    }

    .rd__button__icon {
      background-color: white;
    }
  }

  &--large {
    font-size: var(--str-video__font-size-md);
    padding: var(--str-video__spacing-sm) var(--str-video__spacing-md);
    border-radius: var(--str-video__border-radius-md);
  }

  &--secondary {
    background-color: transparent;
    border-color: var(--str-video__button-default-hover);

    &:disabled {
      background-color: transparent;
      cursor: not-allowed;
    }
  }
}

a.rd__button {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
